<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="'Seat Available at ' + ${theatre}"></title>
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/seat.js"></script>
    <link type="text/css" rel="stylesheet" href="css/seat.css">
</head>
<body>
    <header id="movie-section">
        <img id="poster" src="https://assets.www.warnerbros.com/sites/default/files/movies/media/browser/Shazam_2000x3000.png" alt="poster">
        <div id="movie">
            <div id="description">
                <h3>Shazam<i>2D</i></h3>
                <p>Tomorrow, 13 April, 03:50 PM</p>
                <p>Cinemaxx: Depok Town Square</p>
            </div>
            <div id="option">
                <div class="segment">
                    <p>NUMBER OF TICKET</p>
                    <select name="ticket" id="ticket-number">
                        <option value="1">1 TICKET</option>
                        <option value="2">2 TICKET</option>
                        <option value="3">3 TICKET</option>
                        <option value="4">4 TICKET</option>
                    </select>
                </div>
                <div class="segment">
                    <p>SHOWTIME</p>
                    <div id="time">
                        <button>01:10 pm</button>
                        <button class="active">03:50 pm</button>
                        <button>06:30 pm</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="seats">
        <div id="screen"></div>
        <div class="mainseat">
            <div id="middle"></div>
            <div id="far"></div>
        </div>
    </section>
    <img id="cancel" src="https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/cross-24-512.png" alt="cross">
    <div class="footer">
        <button class="accept" type="submit">CHECKOUT</button>
    </div>
</body>
</html>